root = true

[M143125]
  insert_final_newline = true
  charset = utf-8
  trim_trailing_whitespace = true
  end_of_line = lf
  indent_style = space
  indent_size = 2
## <https://voicegps.app/kml_upload?kml=3VVubokOVTct0xJ0m43flFvIe1LZxVModZGPDMFwJlw=>
[Makefile]
  indent_style = tab
